body {
  width: auto;
  height: 100vh;
  background: linear-gradient(to top left, #22ff00ab, #00ffaeb9);
}

body h1 {
  text-align: center;
}
img {
  float: right;
  width: 550px;
  height: 100vh;
}
