body{
    width: auto;
    height: 100vh;
    background: linear-gradient(to left, #A6DB8A,#5A8F3D), sienna;

}
body h1{
   text-align: center;
    
}
img{
    opacity: 90%;
    float:right;
    width: 450px;
    height: 100vh;}
