body{
    width: auto;
    height: 100vh;
    background: linear-gradient(to left, #467e50,#5f5f5f), sienna;

}
body h1{
   text-align: center;
    
}
img{
    opacity: 90%;
    float:right;
    width: 450px;
    height: 100vh;}
